body{
	/*background-color: #669999;*/
  /*background-size: 100%100%;*/
  background-image: url("images1/and16.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.reg{
	width: 40%;
	margin-left: 30%;
	/*margin-top: 10%;*/
  margin-top: 30%;
   /*background-color: #333399;*/
   background: none;
   /*color: #00ffff;*/
   color: #ff9933;
   font-size: 20px;
   font-family: Nunito;
 }

.reg input{
     background-color: #ffffff;
     color: #6600cc;
     text-align: center;
     border: none;
     border-radius: 7px;
     height: 30px;
     width: 250px;
}
.error {color: #FF0000;}
.home{
  font-size: 40px;
  text-decoration: none;
  color: #3399ff;
}